{
  "extends": "@antfu",
  "rules": {
    "curly": "off",
    "@typescript-eslint/comma-dangle": "off",
    "@typescript-eslint/brace-style": "off",
    "eslint-disable no-console": "off",
    "arrow-parens": "off",
    "eslint-disable-next-line": "off",
    "max-statements-per-line": "off",
    "antfu/top-level-function": "off",
    "@typescript-eslint/consistent-type-definitions": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "no-mixed-operators": "off",
    "antfu/if-newline": "off"
  }
}
